html {
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
     margin: 0;
     
  }
  a {
    font-family: 'Roboto', sans-serif;
  }
  h1{
    font-family: 'Roboto', sans-serif;
  }
  
  
/* == HEADER == */

  header {
   background-color: rgb(40, 130, 144);
   overflow: auto;
  }
 
 
 nav {
   float: right;
   margin: 0;
   text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   width: 100%;
   display: none;
   
  }
  
  nav li {
    float: left;
    margin: 10px;
   font-size: 13px;
   padding-right: 60px;
    
  }
 
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .toggle{
    color: white;
   margin-right: 10px;
   
 }

.logo img{
  width: 90px;
}
.search{
  display: none;
  margin-top: 30px;
}

/* == HERO == */

.hero {
   padding: 10px;
    overflow: auto;
   object-fit: cover;
    
  }

  .hero-content{
    text-align: left;
    padding-top:5px ;
  }
  .hero-content h1{
    color: rgb(11, 73, 96);
    font-size: 25px;
    font-weight: 700;
    text-align: left;
  }

  .hero-content p{
    color: black;
    font-size: 15px;
    font-weight: 400;
    
  }

  .hero-content a{
    text-decoration: none;
    color: white;
    }

 .image img{
    width: 350px;

 }
 .call {
  
    background-color: rgb(99, 8, 8);
    font-size: 16px;
    padding: 10px;
    text-align: center;
     margin-top: 10px;
    }
    
    .desk-hero{
      display: none;
    }

/* == ABOUT US == */

.about-content{
  display:flex;
  flex-direction: column;
}

.about-content1{
 background-color: rgb(43, 139, 174);
  color: white;
  text-align: center;
  height: 300px;
  padding: 10px;
  margin-top: 10px;
 }

 .about-content1 h1{
   font-weight: 700;
  }

.about-content1 a{
  text-decoration: none;
  background-color: rgba(19, 42, 72, 0.644);
  padding:10px;
  font-size: 15px;
  color: white;
  border-radius: 2px;
 }

 
.about-box1{
background-color: rgb(237, 238, 238);
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  border-radius: 2px;
}

.about-box2{
  border-radius: 2px;
  background-color:rgb(237, 238, 238);
  text-align: center;
  font-size: 14px;
  
}
.about-us i{
  color:rgb(103, 186, 219);
}

.boxes{
  background-color: rgb(43, 139, 174);
  padding: 30px;
}

.desk-about{
  display: none;
}
  /* == HOW_IT_WORKS == */ 

.how-it-works{
  background-color: rgba(251, 246, 246, 0.873);
  text-align: center;
}

.works-content{
  display:flex;
  text-align:center;
  flex-direction: column;
  font-weight: bold;

}

.how-it-works h1{
  color: rgb(74, 120, 96);
  font-size: 22px;
  font-weight:bold;
}

.how-it-works p{
  color: black;
  font-weight: 400;
  margin: 10px;
  text-align: center;
}

.para{
  font-size: 16px;
  color: rgb(20, 104, 134);
  font-weight: 600;
}

.video{
  padding-bottom:25px;
}
.steps{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
}

.step1 p{
  font-size:16px;
  font-weight: 400;
}
.step1 img, .step2 img, .step3 img{
  width:370px;
}

.step1 h2{
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(11, 73, 96);
}
.step1 i{
  color: rgb(145, 142, 142);
  font-weight: 400;
}
.step2 p{
  font-size:16px;
  font-weight: 400;
  text-align: center;
}
.step2 i{
  color: rgb(145, 142, 142);
  font-weight: 400;
}

.step2 h2{
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(11, 73, 96);
}
.step3 p{
  font-size:16px;
  font-weight: 400;
  text-align: center;
}
.step3 i{
  color: rgb(145, 142, 142);
  font-weight: 400;
}

.step3 h2{
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(11, 73, 96);
}
 
/* == SERVICE == */ 
.service{
  text-align: center;
  background-color: aliceblue;
}
.service1 {
  color:rgb(122, 41, 41);
 
}
.service h1{
  font-size: 25px;
}
.image1, .image2{
  background-color: white;
  margin: 17px;
  border: solid 1px rgb(227, 226, 226);
  object-fit: cover;
  padding-bottom: 17px;
}
.image1 a{
  text-decoration: none;
  background-color: rgba(19, 42, 72, 0.644);
  padding: 9px;
  font-size: 15px;
  color: white;
  border-radius: 20px;

}

.image1 img, .image2 img{
  width: 330px;
}
.image2 a{
  text-decoration: none;
  background-color: rgba(19, 42, 72, 0.644);
  padding:9px;
  font-size: 15px;
  color: white;
  border-radius: 20px;
}
.image1 h2{
color:rgb(11, 73, 96);
font-size: 18px;
}

.image2 h2{
  color:rgb(11, 73, 96);
font-size: 18px;
}
 /* == CALL-TO-ACTION == */ 

.image1 p{
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.image2 p{
  font-size: 15px;
  font-weight: 400;
  color: black;
}

/* == CALL-TO-ACTION == */ 

.call-img{
  margin: 0;
  
}

.call-img img{
  width:370px;
}
.call-to-action{
   position: relative; 
   text-align: center;
    color: white;
  
}

.call-content {
  
  background: rgba(7, 7, 74, 0.5);
  margin-top: 30px;
  position: absolute;
  top: 10%;
  padding-top:3px;
  height: 140px;
  font-size: 13px;
}

.call-content a{
  text-decoration: none;
  background-color: white;
  padding: 8px;
  font-size: 12px;
  color: rgb(27, 25, 25);
  border-radius: 10px;
  font-weight: 500;
}

.form p{
  font-size: 17px;
  color: black;
  font-weight: 700;
  }

  .form label{
    color:black;
    font-size: 15px;
    font-weight:570;
  }

.form{
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 20px;
  
}

.form button{
background-color: rgb(37, 127, 95);
padding: 10px;
margin-top: 25px;
font-size: 18px;
border-radius: 7px;
color: white;
filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

.call-img1{
  display: none;
}

/* == FOOTER == */ 

.footer{
 display: flex;
 flex-direction: column;
 background-color: rgb(40, 130, 144);
 color: white;
 text-align: center;
}


.footer-content{
font-size: 16px;
color: rgb(217, 234, 250);
text-align: center;
padding: 30px;

}
.footer-content h2{
  font-size: 26px;
  font-weight: bold;
}
.footer-content a{
color: white;
text-decoration: none;
font-size: 20px;
}

.anchor a{
  background-color:rgb(219, 227, 236);
  color: black;
  padding: 15px;
  border-radius: 17px;
  font-size: 16px;
  font-weight: 500;
  

}

.navbars{
 text-align: center;
 padding-top: 30px;
}

.footer-nav{
 font-size: 25px;
  
}

.li{
  list-style-type: none;
  margin-right: 20px;
}

.footer-content2{
  margin-top: 50px;
  font-size: 15px;
  padding: 15px;
}

.footer-content2 h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;

}

.icons a{
  padding: 13px;
  font-size: 18px;
  color: white;
  background-color: rgb(240, 248, 255, 0.2);
  border-radius:28px;
  
}
 
.icons{
  padding: 15px;
}



@media only screen and (min-width: 1200px) {
  
  .wrapper-width {
    width: 1170px;
    margin: auto;
  }
  /* == HEADER == */ 

   nav ul {
    display: block;
    margin-right: 100px;
    
    }

    .search{
      display: block;
      margin-top:20px
    }

    .logo img{
      width: 130px;
    }
 
    .toggle{
      display: none;
    }
     /* == HERO == */ 
    
     .hero{
      height: 80vh;
      background-image: url(images/familyy.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      
    }

    .hero-content{
      display: none;
    }

   .image{
    display: none;
   }
   
   .desk-hero{
    display:flex;
    padding: 40px;
    margin-left:20px;
   flex-direction: column;
   text-align: center;
   margin-top: 70px;
    
   }
   
   .desk-content{
    background-color: rgba(223, 226, 228, 0.75);
    border: solid 1px white;
    border-radius:10px;
    font-size: 20px;
    height:400px;
    width:500px;
    text-align: center;
    padding-top:20px;
   }
   
   .desk-content a{
    text-decoration: none;
    background-color: rgb(126, 30, 30);
    color: white;
    padding: 15px;
    border-radius: 5px;
 
    }
   .desk-content h2{
    color: rgb(26, 94, 26);
    font-weight: 800;
    font-size: 32px;
   }
   
   /* == ABOUT US == */ 

  .about-content{
   display: none;
  
   }
   
   .desk-about{
    display:flex;
    flex-direction: column;
   
   }
  
   .desk-about1{
    text-align: center;
    font-size: 15px;
    background-color: rgb(20, 104, 134, 0.4);
    color: white;
    padding: 80px;
    margin-top: 15px;
  }

  .desk-about1 h2{
    font-size: 30px;
    color: black;
  }

  .desk-about1 p{
    padding: 10px;
    font-size: 20px;
  }
  
  .desk-about2{
    display:flex;
    flex-direction: column;
    
  }

  .desk-about1 a{
    text-decoration: none;
    background-color: rgb(41, 110, 135);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .boxes1{
   display:grid;
  grid-template-columns: auto auto;
  grid-gap:2%;
  background: rgb(58, 124, 150);

  }
  .about-box3, .about-box4{
    margin: 5% 5% 10% 10%;
    background-color: aliceblue;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px;
  }
  
  
    /* == HOW-IT-WORKS== */ 

    .works-content h1{
   font-size: 40px;
   font-weight: 550;
    }

    .works-content{
      font-size:18px;
    }
    
    .para{
      font-size: 25px;
      color: rgb(106, 33, 33);
      font-weight: 900;
    }
    
    .steps{
     margin-top:20px;

    }
    .step1 h1{
      font-size: 35px;
    }
    .step1 img, .step2 img, .step3 img{
      width: 400px;
    }
    
    .step1 h2, .step2 h2, .step3 h2{
     font-size: 25px;
    }
    .step1 p, .step2 p, .step3 p{
      font-size: 17px;
      padding: 10px;
    }

    .tickmark{
      font-size:17px;
    }
     
    .video{
      margin-top: 40px;
    }
    
    
    /* == SERVICE == */ 
     
    .wrapper-width h1{
      font-size: 33px;
      
     }

    .service1{
      font-size: 16px;
      margin-top: 20px;
    }
   
    .service{
      background-color:rgb(229, 232, 231);
      height:600px;
      
    }
     .desk-service{
       display:grid;
       grid-template-columns: auto auto;
       grid-gap:2%;
      
     }

     /* ==CALL-TO-ACTION== */ 
    
   .call-img img{
   display: none;
   }
   
   .call-content{
    display: none;
   }
   
   .call-img1{
    background-image:url(images/call.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display:flex;
    flex-direction: column;
    margin-top:30px;
   }
  
   
   .desk-call{
  
    padding:120px;
    background-color:rgb(42, 81, 165, 0.4) ;
    
   }
   .call-img1 h2{
    font-size: 50px;
    
    font-weight:700;
   }
   .desk-call p{
    font-size: 22px;
   font-weight: 500;
   margin-bottom:20px;
   }
   
   .desk-call a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(24, 78, 97);
    color: aliceblue;
    border-radius:10px;
    
   }
  
   .form{  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: rgb(33, 140, 119);
    margin-top: 10px;
    color: #fff;
  }
  
  .form p{
    color: #fff;
  }
  .form label {
    margin: 10px 10px 5px 0;
    color: #fff;
  }
  
  .form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: rgba(14, 49, 83, 0.88);
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

  
  .form button:hover {
    background-color: rgb(38, 115, 163);
  }
  
  
   
      /* == FOOTER == */ 

.footer-content{
  display:flex;
  flex-flow: column wrap;
}


.navbars{
 display: flex;
 flex-direction: row;
 align-items: flex-end;
}

.footer-nav{
  display: flex;
  flex-direction:column ;
}
 /* == ABOUT US PAGE== */ 

  /* == SERVICE PAGE == */ 
  }

  
 /* == ABOUT US PAGE== */ 

  
 #more{display:none;}

 /* == SERVICE PAGE == */ 

  
 /* == HEADER == */ 
 
